@import '../../styles/variables';


.tickets-container {
    list-style: none;
    width: 100%;
    padding: 0;
    display: grid;
    gap: 40px;
    
    .ticket-card-container {
        
        padding: 1rem;
        border-radius:8px;
        background-color: $bg-comps;
        height: 184px;
        box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .load-tickets {
        border: 2px solid $bg-border;
        font-weight: 700; 
        color: $btn-active;
        background-color: white;
        border-radius: 8px;
        height: 30px;
    }
}